# Global excludes across all subdirectories
*.o
*.so
*.bc
*.dylib
regress/regression.diffs
regress/regression.out
regress/results/
dist/*.zip
lib/exports.list
msvc/.vs/
msvc/bin/x64/
msvc/lib/x64/
msvc/x64/
